body, html {
    height: 100%;
    font-family: 'Keystone', 'Keystone-Italic';
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 30px; /* Increased padding for more space */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px; /* Rounded corners for aesthetics */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.login-form h1 {
    margin-bottom: 30px; /* Increased margin for the header */
    font-size: 2.5em; /* Larger font size for emphasis */
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px; /* Increased margin between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 10px; /* Increased margin below labels */
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 15px; /* Increased padding inside inputs */
    border: 1px solid #ccc;
    border-radius: 8px; /* Slightly rounded input corners */
    font-size: 1.2em; /* Larger font size for inputs */
}

button {
    width: 100%;
    padding: 15px; /* Increased padding for button */
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
    .login-container {
        padding: 20px; /* Adjusted padding for smaller screens */
    }

    .login-form h1 {
        font-size: 2em; /* Adjusted font size for smaller screens */
    }

    .form-group input {
        padding: 12px; /* Adjusted padding for smaller screens */
    }

    button {
        padding: 12px; /* Adjusted padding for smaller screens */
        font-size: 1em; /* Adjusted font size for smaller screens */
    }
}
